package main

import (
	"log"
	"net/http"

	"github.com/grimdork/climate/fx"
)

func main() {
	http.HandleFunc("/", handleRoot)
	http.HandleFunc("/health", handleHealth)
	addr := fx.Render(":{}", "$PORT")
	log.Printf("listening on %s", addr)
	log.Fatal(http.ListenAndServe(addr, nil))
}

func handleRoot(w http.ResponseWriter, r *http.Request) {
	fx.Fprintln(w, "$PROJECT running")
}

func handleHealth(w http.ResponseWriter, r *http.Request) {
	w.WriteHeader(http.StatusOK)
	fx.Fprintln(w, "ok")
}
