package main

import (
	"errors"
	"os"

	"github.com/grimdork/climate/arg"
	"github.com/grimdork/climate/fx"
)

func main() {
	opt := arg.New("$PROJECT", "A CLI demonstrating climate/arg")
	opt.SetFlag(arg.GroupDefault, "v", "verbose", "Enable verbose output")
	opt.SetOption(arg.GroupDefault, "n", "name", "Your name", "world", false, arg.VarString, nil)
	opt.SetOption(arg.GroupDefault, "c", "count", "Repeat count", 1, false, arg.VarInt, nil)
	opt.SetFlag(arg.GroupDefault, "", "shout", "Uppercase the greeting")
	opt.SetPositional("files", "Files to process", nil, false, arg.VarStringSlice)

	if err := opt.Parse(os.Args[1:]); err != nil {
		if !errors.Is(err, arg.ErrNonFatal) {
			fx.Fprintln(os.Stderr, "{}", err)
			os.Exit(1)
		}
	}

	name := opt.GetString("name")
	count := opt.GetInt("count")
	files := opt.GetPosStringSlice("files")
	verbose := opt.GetBool("v")
	shout := opt.GetBool("shout")

	greeting := fx.Render("Hello, {}!", name)
	if shout {
		greeting = fx.Render("HELLO, {}!", name)
	}

	for i := 0; i < count; i++ {
		fx.Println(greeting)
	}

	if verbose {
		fx.Println("Count: {}", count)
		fx.Println("Files: {}", files)
	}
}
