#include <iostream>
#include <cstdlib>
#include <unistd.h>

int main(int argc, char **argv) {
    const char *name = "world";
    int count = 1;
    bool verbose = false;
    int opt;

    while ((opt = getopt(argc, argv, "vn:c:")) != -1) {
        switch (opt) {
        case 'v':
            verbose = true;
            break;
        case 'n':
            name = optarg;
            break;
        case 'c':
            count = std::atoi(optarg);
            if (count < 1) count = 1;
            break;
        default:
            std::cerr << "Usage: $PROJECT [-v] [-n name] [-c count] [files...]" << std::endl;
            return 1;
        }
    }

    for (int i = 0; i < count; i++)
        std::cout << "Hello, " << name << "!" << std::endl;

    if (verbose) {
        std::cout << "Count: " << count << std::endl;
        std::cout << "Args:";
        for (int i = optind; i < argc; i++)
            std::cout << " " << argv[i];
        std::cout << std::endl;
    }
    return 0;
}
